/* components/Slider.css */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px; /* Скругление */
  background-color: var(
    --color-background-medium
  ); /* Фон на случай, если картинка не загрузится */
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Анимация смены слайдов */
}

.slide {
  min-width: 100%; /* Каждый слайд занимает всю ширину */
  box-sizing: border-box;
}

.slide a {
  display: block; /* Ссылка занимает весь слайд */
}

.slide img {
  display: block;
  width: 100%;
  height: auto; /* Автоматическая высота */
  max-height: 350px; /* Ограничение высоты слайдера */
  object-fit: cover; /* Картинка будет обрезаться, чтобы заполнить контейнер */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
  color: var(--color-text-light);
  border: none;
  padding: 10px;
  border-radius: 50%; /* Круглые кнопки */
  cursor: pointer;
  z-index: 10;
  width: 40px; /* Фиксированный размер */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
}
.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-button.prev {
  left: 15px;
}

.slider-button.next {
  right: 15px;
}

.slider-dots {
  position: absolute;
  bottom: 15px; /* Отступ снизу */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px; /* Расстояние между точками */
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Полупрозрачные неактивные точки */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--color-text-light); /* Белая активная точка */
}
