.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-background-light);
  background-clip: padding-box;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box; /* Важно, чтобы padding не увеличивал ширину */
}

.form-control:focus {
  color: var(--color-text-primary);
  background-color: var(--color-background-light);
  border-color: var(--color-palette-orange);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(249, 168, 87, 0.25);
}

.form-control.is-invalid {
  border-color: var(--color-palette-vibrant-red);
  padding-right: calc(
    1.5em + 0.75rem
  ); /* Место под иконку ошибки, если нужна */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23E64C65'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E64C65' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-invalid:focus {
  border-color: var(--color-palette-vibrant-red);
  box-shadow: 0 0 0 0.2rem rgba(230, 76, 101, 0.25);
}

.invalid-feedback {
  display: block; /* Показываем сообщение об ошибке */
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--color-palette-vibrant-red);
}
